<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Art of Playa</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>ART OF PLAYA</h1>
        <p>Discover amazing art installations of "Burning Man" festival</p>
      </div>
    </div>

    <!-- BEGIN FORM SAMPLE -->

        <section id='art-form' class="container">
          <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <legend>Add New Art</legend>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="image">Image</label>
                  <div class="col-md-4">
                  <input id="image"  name="image" required type="url" placeholder="" class="form-control input-md" required="">

                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="info">Comment</label>
                  <div class="col-md-4">
                  <input id="ingo" required name="info"type="text" placeholder="" class="form-control input-md">

                  </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="year">Year</label>
                  <div class="col-md-4">
                  <input id="year" required name="year"type="text" class="form-control input-md">

                  </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton">Save </label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          </div>
        </section>



    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Arts</h2>
        </div>
      </div>
      <!-- arts! -->
      <div id='arts'>
<script id="arts-template" type="text/x-handlebars-template">
          <!-- one art -->
          <div class="row art" data-art-id='{{_id}}'>

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin art internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail art-art">
                      {{#if image}}
                       <img src="{{image}}" alt="art image">
                     {{else}}
                       <img src="images/800x800.png" alt="art image">
                     {{/if}}
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Comment:</h4>
                          <span class='art-info'>{{info}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Year:</h4>
                          <span class='art-year'>{{year}}</span>
                        </li>


                      </ul>
                    </div>

                  </div>

                  <div class='panel-footer'>

                    <button class='btn btn-danger delete-art'>Delete Art</button>
                    <button class='btn btn-info edit-art'>Edit Art</button>
                    <button class='btn btn-success save-art hidden'>Save Changes</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one art -->




      </div>
    </section>




  </body>
</html>
