<!DOCTYPE html>
<html lang="en" ng-app="art-of-playa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art of Playa</title>
    <!-- STYLESHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
    <script src="/scripts/controllers/ArtsIndexController.js"></script>
    <script src="/scripts/controllers/ArtsShowController.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>ART OF PLAYA</h1>
        <h2>Discover amazing art installations of "BURNING MAN" festival</h2>
      </div>
    </div>
    <div ng-view>
    </div>
  </body>
</html>
