body {
  background-color: white;
  color: black;
}

.jumbotron {
  background-image: url(/images/0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}

h4 {
  text-align: center;
}

.list-group-item, .panel, .thumbnail {
  background-color: #edefef;
  border: none;
}

.buttons {
  float:right;
}
